
.main {
  padding-left: 300px;
}
.price{
  display: inline-block;
  border-radius: 50%;
  background-color: #f343ee;
  padding: 5%;
  transform: translate(100%,0%) !important;
  font-weight:400;
  font-size:20px;
  
}

.anchoreColor{
  fill:red;
}
.quotes{
  font-style: italic;
  margin-left: 32px;
  font-size: 30px;
  font-family: Georgia, "Times New Roman", serif;
}
.modal { max-height: 100%; overflow: visible}
@media only screen and (max-width : 992px) {
.main {
    padding-left: 0;
  }
}

.myorderImage{
  max-height: auto;
  overflow: hidden;
}
.btn{
  margin-left:2px;
  margin-right:2px;
}